.header {
    &_wrapper {
        width: 100%;
        height: 84px;
        background-color: #fff;
        padding: 0 3% 0 3%;
        position: fixed;
        top: 0;
        z-index: 800;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 3px 12px 1px rgba(0, 0, 0, 0.06)
    }

    &_left {
        width: 734px;
        height: 45.89px;
        display: flex;
        align-items: center;
    }
    
    &_logo {
        height: 100%;
        margin-right: 10%;
        display: flex;
        align-items: center;
    }
    
    &_nav {
        display: flex;
        width: 522px;
        height: 24px;
        align-items: center;
        justify-content: space-between;
    }

    &_link a {
        color: #000000;
        font-weight: 300;
        vertical-align: middle;
        margin-top: -2px;
        cursor: pointer;
        text-decoration: none;
    }

    &_link :hover {
        color: #198ed9;
        font-size: 700;
    }

    &_linkUndeline {
        width: 64px;
        height: 2px;
    }

    &_right {
        display: flex;
        align-items: center;
    }

    &_button {
        display: flex;
        align-items: center;
        width: 222px;
        height: 42px;
    }

    &_login,  &_register {
        border: 1px solid #207cd3;
        box-shadow: 0 3px 9px 0 rgba(41, 70, 167, 0.2);
        border-radius: 26px;
        text-align: center;
        outline: none;
        text-decoration: none;
        cursor: pointer;
    }
    
    &_login {
        padding: 8px 34px;
        margin-right: 10px ;
        color: #198ed9;
    }
    
    &_register {
        padding: 8px 22px;
        color: #fff;
        background-color: #198ed9;
    }

}
 






